.CourseListItem {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 150px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.CourseLogo {
  margin-right: 10px;
}

.CourseName {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}

.anchor-link {
  text-decoration: none;
}
